<p class="redirect-msg">{{ bld.buildingName }}</p>

<% include building/{{entranceDir}} %>

<FireBoxRoom>
<Assets>
    
    <!-- inside building object -->
    <AssetObject id="{{ bld.height }}-story-bld-inside" src="http://{{envAddrs}}/serve/models/buildings/1-story-bld-insidev4.obj" />
    
</Assets>
<Room server="vrcity.network" 
      port="5566" 
      use_local_asset="room_plane" 
      pos="0 0 0.1" 
      xdir="-1 0 0" 
      ydir="0 1 0" 
      zdir="0 0 -1"
      fog="true" 
      fog_density="0.001" 
      fog_end="100"
      >

<!-- inside building object -->
      <Object id="{{ bld.height }}-story-bld-inside" 
              js_id="" 
              pos="0 0 0" 
              collision_id="{{ bld.height }}-story-bld-inside" 
              scale="1 1 1"
              locked="true"
              visible="true"
              />
              
        <Link id="test"
                url="http://www.google.com/"
                title="test"
                pos="0 0 0"
                fwd="0 0 1"
            />
    
</Room>
</FireBoxRoom>
